---
// Component Imports
// import Counter from '../components/Counter';
import Header from "../components/Header.astro";
import Form from "../components/Form";
import Postcard from "../components/Postcard";

import { Provider } from 'jotai';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Lollipop Printer</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
	</head>
	<body>
		<main>
			<Provider>
				<Header />
				<div style={{ display: "flex", flexWrap: "wrap", gap: "1rem"}}>
				<Form client:load />
				<Postcard client:load />
				</div>
			</Provider>
		</main>
	</body>
</html>
